---
- name: Install FreeIPA Server Packages (RedHat)
  package:
    name:
      - ipa-server
      - ipa-server-dns
    state: present
  when: ansible_os_family == "RedHat"

- name: Install FreeIPA Server Packages (Debian)
  package:
    name:
      - freeipa-server
      - freeipa-server-dns
    state: present
  when: ansible_os_family == "Debian"

- name: Check if FreeIPA is already configured
  stat:
    path: /etc/ipa/default.conf
  register: ipa_config

- name: Install FreeIPA Server
  command: >
    ipa-server-install
    --unattended
    --realm={{ ipa_realm }}
    --domain={{ ipa_domain }}
    --ds-password={{ ipa_dm_password }}
    --admin-password={{ ipa_admin_password }}
    --hostname={{ inventory_hostname }}
    {% if ipa_setup_dns %}
    --setup-dns
    {% for forwarder in ipa_forwarders %}
    --forwarder={{ forwarder }}
    {% endfor %}
    {% endif %}
    --mkhomedir
  when: not ipa_config.stat.exists
